table {
    float: left;
    width: auto;
    height: auto;
}

td {
    position: relative;

    margin: 2px;
    display: inline-block;
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 1px #888888;
    border-radius: 8%;
}
.ship-list{
    margin-left: 100px;
    float: left;
    width: 400px;
    height: auto;


}

.rotate {
    transform: rotate(180deg);
    transition-duration: 2s;
}


a{
    position: inherit;
    margin-left: 60%;
    margin-top: -8% ;

}
.game{
    width: 80%;
    margin: auto;
}
